
<div class="container">
  <div class="main">
    <div class="try-container" *ngFor="let try of intentos" #tryContainer>
      <div class="letter-container" *ngFor="let letra of try.letras"
           [class.match]="letra.estado === estadoDeLetra.CORRECTA"
           [class.partial]="letra.estado === estadoDeLetra.PARCIALMENTE_CORRECTA"
           [class.wrong]="letra.estado === estadoDeLetra.INCORRECTA"
           [class.has-text]="letra.texto !== ''">
        {{letra.texto}}
      </div>
    </div>
  </div>

  <div class="keyboard-container">
    <div [class]="['row' + i, 'row'].join(' ')"
         *ngFor="let row of keyboardRows; let i = index">
      <div *ngFor="let key of row" [class]="getKeyClass(key)"
           [class.enter]="key === 'Enter'"
           (click)="gestionarPulsoDeTecla(key)">
        <div *ngIf="key !== 'Borrar'; else backspace">
          {{key}}
        </div>
        <ng-template #backspace>
          <img src="../assets/backspace.svg"/>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="info-msg"
       [class.show]="mensajeEnPanel !== ''"
       [class.fade-out]="fadeOutInfoMessage">
    {{mensajeEnPanel}}
  </div>

  <div class="share-dialog-container" [class.show]="mostrarContenedorDeMensajeFinal">
    <div class="share-dialog" [class.show]="mostrarDialogoDeMensajeFinal">
      <button (click)="refrescar()">Reintentar</button>
    </div>
  </div>
</div>
